.btn-custom {
    color: #ffffff;
    background-color: #bd1b77;
    border-color: #e51df0;
}

.table-auto {
    width: 100%;
    overflow-x: auto;
    table-layout: fixed;
}

/* Mengatur lebar dan tinggi modal */
.modal-dialog {
    width: auto; /* Ubah sesuai kebutuhan Anda */
    max-width: 50%;
}

.WEB {
    background-color: #000285; /* Warna latar belakang event */
    color: #ffffff; /* Warna teks pada event */
    outline: 2px solid rgb(255, 255, 255);
}

.DAT {
    background-color: #009ba0; /* Warna latar belakang event */
    color: #ffffff; /* Warna teks pada event */
    outline: 2px solid rgb(255, 255, 255);
}
.PVS {
    background-color: #009600; /* Warna latar belakang event */
    color: #ffffff; /* Warna teks pada event */
    outline: 2px solid rgb(255, 255, 255);
}
.INT {
    background-color: #9b0093; /* Warna latar belakang event */
    color: #ffffff; /* Warna teks pada event */
    outline: 2px solid rgb(255, 255, 255);
}

.image-previews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-preview {
    position: relative;
    width: 300px;
    height: auto;
}

.image-preview img {
    width: auto;
    height: auto;
    object-fit: cover;
}
.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgba(255, 252, 252, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10%;
    padding: 5px;
    cursor: pointer;
}

.event-photos {
    display: flex;
    flex-wrap: wrap;
}

.event-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 5px;
}
